button:hover{
    font-size: 1.1em;
    background-color: yellow;
}
button:active{
    font-size: 1.1em;
    background-color: pink;
}
Searchbar[type=text]{
    border: red;
    background-color: aquamarine;
    padding: 10px;
}
