.searchbar{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 50px;
    right: 10%;
}
.searchbar input {
    background-color: #FFFFFF;
    color: #5A5454;
    border: 3px #D9D9D9;
    border-radius: 1em;
    font-size: 20px;
    font-family: Inria Sans;
    width: 50%
}

.searchbar input::placeholder {
    color: #5A5454;
}

.searchResult {
    background-color: #FFFFFF;
    color: #5A5454;
    font-size: 20px;
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 200px;
}

.searchResult a {
    flex: 1;
    color: inherit;
    text-decoration: none;
}
