.searchbar{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 50px;
    right: 10%;
    z-index: 1;
    color: #000000;
}
.searchbar input {
    background-color: #FFFFFF;
    color: #5A5454;
    border-radius: 1em;
    font-size: 20px;
    font-family: Inria Sans;
    width: 50%
}

.searchbar input::placeholder {
    color: #5A5454;
}

.searchResult {
    background-color: #FFFFFF;
    color: #5A5454;
    font-size: 20px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.searchResult hover{
    background-color: #8a8a8a;

}

.searchResult a {
    flex: 1;
    color: inherit;
    text-decoration: none;
}

.resultBox{
    width: 200%;
    height: 7vh;
    display: flex;
    flex-direction: column;
}

.resultText{
    width: 100%;
    height: 97%;
    margin-top: 1%;
    text-align: left;
    text-indent: 4%;
}

.line{
    width: 50%;
    height: 2%;
    background-color: rgb(0, 0, 0);
}

.searchBarInputThingIt {
  display: block;                /* block */
  width: 50%;                    /* w-1/2 */
  border-radius: 0.375rem;       /* rounded-md */
  padding-top: 0.5rem;           /* py-2 */
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;          /* pl-10 */
  padding-right: 0.5rem;         /* pr-2 */
  font-size: 0.875rem;           /* text-sm */
  position: relative;
}

.searchbar::after{
    content: '';
    position: absolute;
    height: 107%;
    width: 50.5%;
    background-image: linear-gradient(to right,rgba(0, 89, 255, 1), rgba(152, 197, 248, 1));
    z-index: -1;
    top:-8%;
    left: -0.3%;
    border-radius: 1.5rem;
}