.searchbar{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200%;
    height: 50px;
    right: 10%;
}
.searchbar input {
    background-color: #5B6680;
    color: #D9D9D9;
    border: 3px solid #98C5F8;
    border-radius: 1em;
    font-size: 20px;
    font-family: Inria Sans;
    width: 50%

}

.searchbar input::placeholder {
    color: #D9D9D9;
}

.searchResult {
    background-color: #5B6680;
    color: #D9D9D9;
    font-size: 20px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    max-height: 200px;
}

.searchResult a {
    flex: 1;
    color: inherit;
    text-decoration: none;
}

.resultBox{
    width: 200%;
    height: 7vh;
    display: flex;
    flex-direction: column;
}

.resultText{
    width: 100%;
    height: 97%;
    text-align: left;
    text-indent: 10%;
}

.line{
    width: 100%;
    height: 2%;
    background-color: white;
}