.background{
    background-color: rgb(7, 17, 45);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.Verticalline {
    position: absolute;
    width: 8px;
    height: 100%;
    background-color: lightblue;
}

.leftVLine{
    left: 15vw;
}

.rightVLine{
    right: 20vw;
}

.horizontalLine{
    position: absolute;
    width: 15%;
    height: 8px;
    background-color: lightblue;
}

.hline1{
    top: 5vw;
}

.containSearch{
    display: flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 1000px;
    border: 10px white;
    left: 22vw;
    top: 8vw;
}

.textBox{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.5vi;
    position: absolute;
    top: 5vw;
}

.usernameTextBox{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.5vi;
    position: absolute;
    top: 10vw;
}

.searchBarPos{
    position: absolute;
    left: 7.5vw;
    top: 22vw;
}

.searchOptionsPos{
    position: absolute;
    left: 7.5vw;
    top: 22vw;
    text-align: left;
    display: flex;
    flex-direction: column;
}

