.resourcesBar{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    font-family: Jura;
    font-weight: bold;
    margin-bottom: 1em;
    color: #5A5454;
    padding: 2px;
    text-indent: 3%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    overflow-x: hidden;
    overflow-y:auto;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

.resourcesBarButtons{
    width: 90%;
    margin-left: 10px;
    height: 2.3em;
    background-color: #EDEDED;
    color: #5A5454;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.resourcesBarButtons:hover{
    background-color: #D9D9D9;
}

.aboutUsIcon{
    margin-top: 5px;
}

.buttonText{
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
    font-family: Jura;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
    width:100%;
    overflow-x: hidden;
}