.yourCommunitiesBar{
    background-color: #EDEDED;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    text-indent: 3%;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.communitiesButtons{
    width: 95%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #D9D9D9;
}

.scrollSpace{
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    text-indent: 3%;
    overflow-y:auto;
    overflow-x: hidden;
}

.popupOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupBox{
    background-color: white;
    padding: 2rem;
    border-radius: 1em;
    width: 400px;
    height: 400px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}

.popupText {
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
    text-align: left;
    text-indent: 0%;
    display: flex;
    flex-direction: column;
}

.descText{
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-indent: 0%;
}

.inputBox{
    background-color: #D9D9D9;
    border-radius: 1em;
}

.isPublicBox{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

.popupAlignment{
    display: flex;
    flex-direction: column;
}

.saveBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
    font-family: Inria Sans;
}

.closeBtn {
    background-color: #FF5C5C;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
    font-family: Inria Sans;
    margin-top: 15px;
}

.closeBtn:hover {
    background-color: #FF3B3B;
}

.saveBtn:hover {
    background-color: #45a049;
}