.yourCommunitiesBar{
    background-color: #EDEDED;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    color: #5A5454;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
}

.communitiesButtons{
    width: 95%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #D9D9D9;
}

.scrollSpace{
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    text-indent: 3%;
    overflow-y:auto;
    overflow-x: hidden;
}