@font-face {
    font-family: Inria Sans;
    src: url('/public/fonts/InriaSans-Light.ttf');
}

.background {
    background-color: #D0E0EB;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.pageDoc{
    display: flex;
    position: relative;
    width: 70%;
    height: 40vh;
    background-color: #FFFFFF;
    margin-top: 80px;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.heading1{
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 20px;
    margin-left: 25px;
}

.heading2{
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 12px;
    margin-left: 25px;
}

.returnButton {
    background-color: #F0F0F0;
    height: 30px;
    width: 80px;
    border-radius: 1em;
    margin-left: 30vw;
    margin-top: 2vw;
}

.returnButton:hover {
  background-color: #D9D9D9;
}

.returnButtonText {
    margin-top: 4px;
    margin-left: 2px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
    text-align: center;
}