@font-face {
  font-family: Jura;
  src: url('../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Inria Sans;
  src: url('../../public/fonts/InriaSans-Light.ttf');
}

.background {
    background-color: #D0E0EB;
    width: 100%;
    height: 100vh;
    font-family: Inria Sans;
    position: relative;
    overflow-x: hidden;
    overflow-y:hidden;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.yourCommunitiesBar{
    background-color: #FFFFFF;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1em;
    top: 3.8em;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    text-indent: 3%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.resourcesBar{
    background-color: #FFFFFF;
    width: 20%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1em;
    bottom: 2vw;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    padding: 2px;
    text-indent: 3%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}
/*
.horizontalLine{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}*/

.resourcesBarButtons{
    width: 90%;
    margin-left: 10px;
    height: 40px;
    background-color: #F0F0F0;
    color: #5A5454;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.3em;
    border-radius: 1em;
}

.resourcesBarButtons:hover{
    background-color: #D9D9D9;
}

.aboutUsIcon{
    margin-top: 5px;
    height: 30px;
    width: 50px;
}

.buttonText{
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
    font-family: Jura;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
    width:100%;
}

.communitiesButtons{
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #394153;
}

.topUsersBar{
    background-color: #FFFFFF;
    color: #5A5454;
    width: 20%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.8em;
    right: 1em;
    font-family: Jura;
    font-weight: bold;
    color: gray;
    text-indent: 3%;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.topCommunitiesBar{
    background-color: #FFFFFF;
    color: #5A5454;
    width: 20%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1em;
    bottom: 3em;
    font-family: Jura;
    font-weight: bold;
    color: gray;
    text-indent: 3%;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

/*This controls the center box with "welcome" and the search area*/
.searchBarArea{
    width: 40%;
    height: 60vh;
    position: absolute;
    top: 5vw;
    left: 30vw;
    font-size: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    background-color: #FFFFFF;
    border-radius: 1em;
    color: #5A5454;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.welcomeText{
    width: 100%;
    height: 6vh;
    font-size: 3vh;
    font-family: Jura;
    color: #5A5454;
}

.usernameText{
    width: 100%;
    height: 10vh;
    font-size: 4vh;
    font-family: Jura;
    color: #5A5454;
}

.searchBarAlignment{
    position: absolute;
    top: 3em;
    left: 7vw;
    width: 80%;
    color: #5A5454;
    background-color: #FFFFFF;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.logInSignUpButton{
    background-color: #3F6DA1;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 128px;
}

.dropdownMenu {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.dropdownMenu:hover{
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}