.background {
    background-color: rgb(57, 65, 83);
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
}

.navBox{
    background-color: rgb(38, 49, 72);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.logInSignUpButton{
    background-color: rgb(63,109,161);
    height: 30px;
    width: 60px;
    border-radius: 1em;
    margin-top: 10px;
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 95px;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(57,65,83);
    margin-left: 10px;
}

.settingsIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(184,184,184);
}

.dropdownMenu {
    background-color: rgb(91,102,128);
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdownMenu:hover{
    background-color: rgb(130,143,175);
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.yourCommunitiesBar{
    background-color: rgb(38, 49, 72);
    width: 20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
    
}

.resourcesBar{
    background-color: rgb(38, 49, 72);
    width: 20%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0vw;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.horizontalLine{
    background-color: rgb(170,170,170);
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

.resourcesBarButtons{
    width: 90%;
    margin-left: 10px;
    height: 40px;
    background-color: rgb(38, 49, 72);
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.resourcesBarButtons:hover{
    background-color: rgb(57,65,83);
}

.aboutUsIcon{
    margin-top: 5px;
    height: 30px;
    width: 50px;
}

.buttonText{
    text-align: left;
    margin-top: 11px;
    margin-left: 1px;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons{
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: rgb(57,65,83);
}

.topUsersBar{
    background-color: rgb(38, 49, 72);
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    right: 0px;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.topCommunitiesBar{
    background-color: rgb(38, 49, 72);
    width: 20%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 0vw;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.searchBarArea{
    width: 40%;
    height: 45vh;
    position: absolute;
    top: 250px;
    left: 30vw;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.welcomeText{
    width: 100%;
    height: 6vh;
}

.usernameText{
    width: 100%;
    height: 10vh;
}

.searchBarAlignment{
    position: absolute;
    top: 200px;
    left: 5vw;
    width: 100%;
}
