.Verticalline {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    background-color: lightblue;
    z-index: 0;
}

.VerticallineOne {
    display:flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16vw;
    width: 8px;
    background-color: lightblue;
    z-index: 0;
}

.VerticallineTwo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 85vw;
    width: 8px;
    background-color: lightblue;
    z-index: 0;
}


.Horizontalline {
    position: relative;
    bottom: 230px;
    margin-top: 20px;
    margin-left: -10px;
    width: 16.5%;
    height: 8px;
    background-color: lightblue;
    z-index: 10;
}

.HorizontallineOne {
    position: relative;
    bottom: 400px;
    margin-left: -10px;
    width: 16.5%;
    height: 8px;
    background-color: lightblue;
    z-index: 10;
}

.Left {
    left: 25%;
}

.Right {
    right: 25%;
}
            
.Searchbar {
    text-align: center;
    margin-top: 100px;
    position: relative;
    top: 350px; 
}
            
.Searchbar input {
    background-color: rgb(129, 129, 129);
    color: rgb(41, 41, 41);
    border: 3px solid rgb(129, 129, 129);
    border-radius: 4px;
    font-size: 20px;
    width: 40%;
    height: 50px;
    border-radius: 1em;
    position: relative;
    bottom: 200px;
}

.Searchbar input::placeholder {
    color: rgb(41, 41, 41);
}

.Buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 0px;
    margin-left: 15px;
    position: relative;
    bottom: 210px;
}

.Button {
    position: relative;
    width: 200px;
    height: 30px;
    border: 4px;
    color: gray;
    text-align: center;
    font-size: 12px;
    transition-duration: 0.5s;
    cursor: pointer;
}
            
.ButtonStyle {
    background-color: rgb(24, 72, 134);
    color: rgb(24, 72, 134);
    border: 2px solid;
    width: 14.5%;
    height: 50px;
    border-radius: 1em;
}

.ButtonStyle:hover{
    background-color: blue;
    color: lightblue;
}

.textBox{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.5vi;
    position: relative;
    top: 200px;
}

.usernameTextBox{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3.5vi;
    position: relative;
    top: 200px;
    
}

.logoBox{
    position: relative;
    width: 15%;
    height: 80px;
    bottom: 510px;
    left: 10px;
}

.homelogoBox{
    width: 45px;
    height: 45px;
    border-radius: 1em;
}

.buttonTextAlignment{
    position: relative;
    bottom: 35px;
    font-size: 1vi;
    text-align: left;
    margin-left: 50px;
    color: white;
}

.addIcon{
    position: relative;
    bottom: 300px;
    right: 30px;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    border-radius: 1em;
    width: 5%;
}

.settingsIcon{
    border-radius: 100%;
    width: 75px;
}

.dropdown {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.dropdownMenu {
    position: absolute;
    left: 10px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.searchOptions{
    background-color: rgb(129, 129, 129);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(129, 129, 129);
    border-radius: 4px;
    font-size: 20px;
    width: 40%;
    height: 100px;
    border-radius: 1em;
    position: absolute;
    bottom: 90px;
    left: 30vw;
    text-align: left;
    display: flex;
    flex-direction: column;
}