@font-face {
  font-family: Jura;
  src: url('../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
}

.background {
  background-color: rgb(57, 65, 83);
    display: flex;
    width: 100%;
    height: 90vh;
}

.loginContainer {
  width: 600px;
  background-color: #5B6680;
  color: white;
  font-family: Jura;
  border-radius: 20px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
  height: 600px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.emailBox {
  width: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: relative;
  border-radius: 2em;
}

.passwordBox {
  width: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: relative;
  border-radius: 2em;
}

.showpasswordSection {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.loginButton {
  margin-left: 35%;
}

.loginButton:hover {
  transform: scale(1.1);
  background-color: #3F6DA1;
}

.forgotPasswordBox {
  width: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 400px;
  bottom: 10px;
}

.googleButton {
  margin-right: 65%;
  display: flex;
  text-align: center;
  font-family: Roboto;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/*We may not need the hover for the google button*/
.googleButton:hover {
  transform: scale(1.02);
}

.registerLink {
  width: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailBox label {
  margin-bottom: 5px;
  font-size: 18px;
}

.passwordBox label {
  margin-bottom: 5px;
  font-size: 18px;
}

.emailBox input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 16px;
  border: none;
  background-color: #828FAF;
}

.passwordBox input {
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 16px;
  border: none;
  background-color: #828FAF;
}

.showpasswordSection label {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.loginButton {
  height: 37px;
  width: 30%;
  font-size: 23px;
  border-radius: 16px;
  background-color: #699dd8;
  color: white;
  text-align: center;
}

.googleButton {
  height: 40px;
  width: 80%;
  font-size: 20px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  background-color: #f7f7f7;
  color: black;
  display: flex;
  margin-left: 70%;
}

.signUpWithGoogleText{
  margin-left: 20%;
  margin-top: 0.5%;
  font-family: Roboto;
}

.forgotPasswordBox button {
  width: 100px;
  padding: 4px;
  font-size: 8px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background-color: #699dd8;
  color: white;
}

.forgotPasswordBox button:hover {
  background-color: #3F6DA1;
  transform: scale(1.1);
}

.registerLink a {
  color: #f7f7f7;
  text-decoration: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background-color: #5B6680;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}

.popup-text {
  margin-bottom: 15px;
  color: black;
}

.popup-box input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
}

.close-button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background-color: #699dd8;
  color: white;
  cursor: pointer;
}

.lineBox{
  height: 4%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.lefthorizontalLine{
  height: 1px;
  width: 37%;
  margin-top: 20px;
  margin-left: 5%;
  background-color: #282828;

}

.righthorizontalLine{
  height: 1px;
  width: 37%;
  margin-top: 20px;
  margin-left: 5%;
  background-color: #282828;

}

.orBox{
  width: 5%;
  height: 2px;
  font-size: 25px;
  color:white;
  margin-left: 5%;
  font-family: 'Jura';
}