@font-face {
    font-family: Inria Sans;
    src: url('/public/fonts/InriaSans-Light.ttf');
}

.background {
    background-color: #D0E0EB;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    padding: 40px, 20px;
}

.pageDoc{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 85vh;
    background-color: #FFFFFF;
    color: #5A5454;
    margin-top: 3em;
    border-radius: 1em;
    justify-content: space-between;
    padding-bottom: 40px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.heading1{
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 20px;
    margin-left: 20em;
}

.paragraph {
    font-family: Inria Sans;
    color: #545454;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.2em;
}

.section{
    margin-bottom: 1em;
}
.returnButton {
    margin-top: 40px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
    height: 40px;
    width: 130px;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.returnButton:hover {
  background-color: #D9D9D9;
}

.returnButtonText {
    margin-top: 0px;
    margin-left: 2px;
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 0.8rem;
    text-align: center;
}