@font-face {
  font-family: Jura;
  src: url('../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Inria Sans;
  src: url('../public/fonts/InriaSans-Light.ttf');
}

.background {
    background-color: #D0E0EB;
    width: 100%;
    height: 100vh;
    font-family: Inria Sans;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    display:grid;
    grid-template-columns: 1vw 19.003vw 5vw 50.003vw 5vw 19.003vw 1vw;
    grid-template-rows: 4.5vh 32.5vh 8.5vh 8.5vh 8.5vh 8.5vh 5vh;
    grid-template-areas: 
    "navBar navBar navBar navBar navBar navBar navBar"
    "blankBox2 communities blankBox1 search blankBox3 topUsers blankBox5"
    "blankBox2 communities blankBox1 search blankBox3 topCommunities blankBox5"
    "blankBox2 communities blankBox1 friendReq blankBox3 topCommunities blankBox5"
    "blankBox2 resources blankBox1 friendReq blankBox3 topCommunities blankBox5"
    "blankBox2 resources blankBox1 friendReq blankBox3 topCommunities blankBox5"
    "blankBox2 resources blankBox1 blankBox blankBox3 blankBox4 blankBox5";
    row-gap: 4%;
} 


.blankBox {
    min-height: 5vh;
}

.friendsBox{
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.navBox{
    background-color: rgb(11, 11, 44);
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.yourCommunitiesBar{
    background-color: #FFFFFF;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    text-indent: 3%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.resourcesBar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    padding: 2px;
    text-indent: 3%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}
/*
.horizontalLine{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}*/

.resourcesBarButtons{
    width: 90%;
    margin-left: 10px;
    height: 40px;
    background-color: #F0F0F0;
    color: #5A5454;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.resourcesBarButtons:hover{
    background-color: #D9D9D9;
}

.aboutUsIcon{
    margin-top: 5px;
    height: 30px;
    width: 50px;
}

.buttonText{
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
    font-family: Jura;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
    width:100%;
}

.communitiesButtons{
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #394153;
}

.topUsersBar{
    background-color: #FFFFFF;
    color: #5A5454;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: gray;
    text-indent: 3%;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.topCommunitiesBar{
    background-color: #FFFFFF;
    color: #5A5454;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: gray;
    text-indent: 3%;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

/*This controls the center box with "welcome" and the search area*/
.searchBarArea{
    font-size: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    background-color: #FFFFFF;
    border-radius: 1em;
    color: #5A5454;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.welcomeText{
    width: 100%;
    height: 6vh;
    font-size: 2.5vw;
    font-family: Jura;
    color: #5A5454;
}

.usernameText{
    width: 100%;
    height: 10vh;
    font-size: 2.5vw;
    font-family: Jura;
    color: #5A5454;
}

.searchBarAlignment{
    margin-left:20%;
    width: 70%;
    color: #5A5454;
    background-color: #FFFFFF;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.logInSignUpButton{
    background-color: #3F6DA1;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 128px;
}

.dropdownMenu {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.dropdownMenu:hover{
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}