@font-face {
  font-family: Jura;
  src: url('../public/fonts/Jura-Light.ttf');
}
.background {
    background-color: rgb(57, 65, 83);
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}

.settingsIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.dropdownMenu {
    background-color: #5B6680;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdownMenu:hover{
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.yourCommunitiesBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.resourcesBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0vw;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.horizontalLine{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

.resourcesBarButtons{
    width: 90%;
    margin-left: 10px;
    height: 40px;
    background-color: rgb(11, 11, 44);
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.resourcesBarButtons:hover{
    background-color: #394153;
}

.aboutUsIcon{
    margin-top: 5px;
    height: 30px;
    width: 50px;
}

.buttonText{
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 0.8rem;
    width: 100%;
}

.communitiesButtons{
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #394153;
}

.topUsersBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    right: 0px;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.topCommunitiesBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 0vw;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
}

.searchBarArea{
    width: 40%;
    height: 45vh;
    position: absolute;
    top: 250px;
    left: 30vw;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.welcomeText{
    width: 100%;
    height: 6vh;
    color: rgb(255,255,255);
    font-family: Jura;
}

.usernameText{
    width: 100%;
    height: 10vh;
}

.searchBarAlignment{
    position: absolute;
    top: 200px;
    left: 5vw;
    width: 100%;
}

.navBox{
    background-color:  rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.logInSignUpButton{
    background-color: #3F6DA1;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    color: rgb(255,255,255);
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 128px;
    color:rgb(255,255,255);
}

.dropdownMenu {
    background-color: #5B6680;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdownMenu:hover{
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}