@font-face {
    font-family: Jura;
    src: url('../public/fonts/Jura-Light.ttf');
}

@font-face {
    font-family: Inria Sans;
    src: url('../public/fonts/InriaSans-Light.ttf');
}


.background {
    background-color: #D0E0EB;
    width: 100%;
    height: 93vh;
    font-family: Inria Sans;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    display: grid;
    grid-template-columns: 1vw 19.003vw 5vw 50.003vw 5vw 19.003vw 1vw;
    grid-template-rows: 0.1vh 32.5vh 8.5vh 8.5vh 8.5vh 8.5vh 3vh;
    grid-template-areas:
        "space space space space space space space"
        "blankBox2 communities blankBox1 search blankBox3 topUsers blankBox5"
        "blankBox2 communities blankBox1 search blankBox3 topCommunities blankBox5"
        "blankBox2 communities blankBox1 friendReq blankBox3 topCommunities blankBox5"
        "blankBox2 resources blankBox1 friendReq blankBox3 topCommunities blankBox5"
        "blankBox2 resources blankBox1 friendReq blankBox3 topCommunities blankBox5"
        "blankBox2 resources blankBox1 blankBox blankBox3 blankBox4 blankBox5";
    row-gap: 4%;
}

.friendsBox {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    color: black;
    text-indent: 10px;
}


.homeLogo {
    height: 50px;
    width: 200px;
}

.logInInfo {
    height: 50px;
    width: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.landingMain {
    padding: 0; 
}






/*This controls the center box with "welcome" and the search area*/
.searchBarArea {
    font-size: 4vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 1em;
    color: #5A5454;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.welcomeText {
    width: 100%;
    font-size: 2.5vw;
    font-family: Jura;
    color: #5A5454;
}

.usernameText {
    width: 100%;
    font-size: 2.5vw;
    font-family: Jura;
    color: #5A5454;
    margin-bottom: 5vh;
}

.searchBarAlignment {
    margin-left: 15%;
    width: 70%;
    color: #5A5454;
    background-color: #FFFFFF;
}

.navBox {
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo {
    height: 50px;
    width: 200px;
}

.logInInfo {
    height: 50px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.logInSignUpButton {
    background-color: #3F6DA1;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText {
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 128px;
}

.dropdownMenu {
    background-color: #FFFFFF;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.dropdownMenu:hover {
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton {
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}

.friendsIcon {
    height: 40px;
    width: 40p;
    border-radius: 50%;
}

.fullFriendItem {
    display: flex;
}

.friendItem {
    display: flex;
    width: 89.5%;
    margin-left: 2.5%;
}


.friendName {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: 20%;
    overflow-x: hidden;
    white-space: nowrap;
}

.friendBio {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    overflow-x: hidden;
    white-space: nowrap;
}

.removeFriendButton {
    width: 30px;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
    .background {
        background-color: #D0E0EB;
        width: 100%;
        height: 100vh;
        font-family: Inria Sans;
        position: relative;
        overflow-x: hidden;
        overflow-y: visible;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 32.5vh 50.5vh 32.5vh 32.5vh 32.5vh 32.5vh;
        grid-template-areas:
            "communities"
            "search"
            "friendReq"
            "topUsers"
            "topCommunities"
            "resources";
        row-gap: 4%;
    }

    .removeFriendButton {
        margin-left: -2%;
    }

}