@font-face {
    font-family: Inria Sans;
    src: url('/public/fonts/InriaSans-Light.ttf');
}

.background {
    background-color: #D0E0EB;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.pageDoc{
    display: flex;
    position: sticky;
    width: 70%;
    height: 80vh;
    background-color: #FFFFFF;
    color: #5A5454;
    margin-top: 80px;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.responseBox{
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 50px;
    position: absolute;
    top: 100px;
}

.responseBox2{
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 50px;
    position: absolute;
    top: 200px;
}

.heading1{
    font-family: Inria Sans;
    background-color: #FFFFFF;
    color: #5A5454;
    font-size: 20px;
    margin-left: 25px;
}

.heading2{
    font-family: Inria Sans;
    background-color: #FFFFFF;
    color: #5A5454;
    font-size: 12px;
    margin-left: 25px;
}

.returnButton {
    position: absolute;
    background-color: #F0F0F0;
    height: 30px;
    width: 80px;
    border-radius: 1em;
    top: 25px;
    left: 10px;
}

.returnButton:hover {
  background-color: #D9D9D9;
}

.returnButtonText {
    margin-top: 4px;
    margin-left: 3px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
    text-align: center;
}

.dropdownBar{
    display:flex;
    background-color: #EDEDED;
    color: #5A5454;
    width: 90%;
    height: 25px;
    position: absolute;
    left: 3vw;
    top: 20px;
    border-radius: 1em;
}

.responseBar{
    display:flex;
    background-color: #EDEDED;
    color: #5A5454;
    width: 90%;
    height: 300px;
    position: absolute;
    left: 3vw;
    top: 20px;
    border-radius: 1em;
    color: black;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
}

.submitButton {
    position: absolute;
    background-color: #D9D9D9;
    color: #5A5454;
    height: 30px;
    width: 120px;
    border-radius: 1em;
    bottom: 5vw;
    margin-left: 25vw;
}

.submitButton:hover {
  background-color: darkgray;
}

.submitButtonText {
    margin-top: 5px;
    margin-left: 8px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
    text-align: center;
}