.topUsersBar {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    margin-top: 1em;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;       
    color: #5A5454;
    font-size: 14px;
    text-indent: 3%;
}

.topCommunitesScroll {
    overflow-y: auto;
    margin-right: 8px;
}

.topCommunitesScroll::-webkit-scrollbar {
    width: 8px;
}

.topCommunitesScroll::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.topCommunitesScroll::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 12px;
}

.topUserItem {
    display: flex;
    align-items: center;      
    gap: 8px;                 
    padding: 4px 8px;
    width: 100%;
}

.topUserItem:hover {
    background-color: #ffffff;
}

.topUserIcon {
    flex-shrink: 0;          
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    object-fit: cover;
}

.topUserName {
    display: flex;
    flex-direction: column;
    white-space: nowrap;     
    overflow: hidden;         
    text-overflow: ellipsis;  
}