.serverBar{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    text-indent: 3%;
    font-family: Inria Sans;
    font-size: 1.5em;
    color: #5A5454;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    width: 100%;
    height: 100%;
}

.commName{
    width:80%;
    height:100%;
    overflow: hidden;
    font-size: 20px;
}

.plusButton:hover{
    color:#00ccff;
}

.horizontalLine{
    background-color: #000000;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

.serverContainer{
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
}

.groupHeader{
    display: flex;
    text-indent: 10%;
}

.groupName{
    width: 40%;
    height: 50%;
    overflow: hidden;
}

.deleteGroup{
    margin-right: 3%;
    margin-left: 3%;
}

.deleteGroup:hover{
    color: red;
}

.editGroup:hover{
    color: orange;
}

.channelHeader{
    width: 95%;
    height: 3vh;
    display:flex;
    text-indent: 5%;
}

.channelName{
    width: 65.5%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 1em;
    color: #5A5454;
    margin-left: 10px;
    margin-left: 4%;
    overflow: hidden;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupBox {
    background-color: white;
    padding: 2rem;
    border-radius: 1em;
    width: 400px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupText {
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border:floralwhite 1px solid;
    border-radius: 0.5em;
    font-family: Inria Sans;
}

.saveBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.saveBtn:hover {
    background-color: #45a049;
}

.closeBtn:hover {
    background-color: #FF3B3B;
}

.activeChannel a {
    width: 1000px;
    background-color: #7c7c7c;
}