@font-face {
  font-family: Jura;
  src: url('../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
}

.hint {
  font-size: 9px;
  color: #5A5454;
}

.blackHint{
  height: 9px;
  width: 100%;
}

.background{
  background-color: #D0E0EB;
  height:90vh;
  width:100%;
  overflow-y: hidden;
  position: relative;
}

.box{
  display: flex;
  color: white;
  flex-direction: column;
  width: 50%;
  height: 90vh;
  background-color: #FFFFFF; 
  margin: 30px auto;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  gap: 20px;
  font-family: Jura;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}


.lblBox{
  height: 10%;
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  /*font-weight: bold;*/
  font-family: 'Jura';
  color: #5A5454;
}

.smallBox{
  height: 25%;
  width: 80%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: 'Jura';
  font-size: 16px;
  color: #5A5454;
}

.txtBox{
   height: 50%;
   width: 100%;
   background-color: #F0F0F0;
   color: #5A5454;
   border: 1px solid white;
   border-radius: 2em;
   text-indent: 5px;
   font-size: 16px;
   position: relative;
   font-family: 'Courier New', Courier, monospace;
   overflow: hidden;
}

.checkBox{
  height: 10%;
  width: 40%;
  margin-left: 15%;
  font-family: 'Jura';
  font-size: 0.75vw;
  color: #5A5454;
}

.buttonBox{
   height: 5vh;
   width: 20%;
   margin-left: 40%;
   border-radius: 2em;
   font-family: 'Jura';
   font-size: 23px;
   border: 1px solid white;
   color: #5A5454;
   background-color: #D9D9D9;
}

.buttonBox:hover {
  transform: scale(1.1);
  background-color: #BFC7D1;
}

.lineBox{
  margin-top: 5%;
  height: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lefthorizontalLine{
  height: 1px;
  width: 37%;
  margin-top: 25px;
  margin-left: 5%;
  background-color: #282828;

}

.righthorizontalLine{
  height: 1px;
  width: 37%;
  margin-top: 25px;
  margin-left: 5%;
  background-color: #282828;

}

.orBox{
  width: 10%;
  height: 2px;
  font-size: 1.5vw;
  color:black;
  margin-left: 5%;
  font-family: 'Jura';
  text-align: center;
  margin-top: -10px;
}

.signUpWithGoogleButton{
   height: 40px;
   width: 80%;
   border-radius: 16px;
   background-color: #D9D9D9;
   color: black;
   margin-left: 10%;
   font-size: 22px;
   font-family: 'Roboto';
   display: flex;
   margin-top: 35px;
   overflow: hidden;
}

.signUpWithGoogleButton:hover {
  transform: scale(1.02);
  background-color: #BFC7D1;
}

.signUpWithGoogleText{
  margin-left: 25%;
  font-size: 1.5vw;
  margin-top: 1.5%;
}

.transparentButtonBox{
   height: 30px;
   width: 50%;
   position:absolute;
   left: 43.75%;
   bottom: 15%;
   font-family: 'Jura';
}

@media(max-height: 800px){
  .hint {
    font-size: 5px;
    color: #ffffff00;
  }
  .lineBox{
    margin-top: 0%;
    height: 17%;
  }
  .orBox{
    margin-left: 0%;
  }
  .lefthorizontalLine{
    width: 32.5%;
    margin-right: 5%;
  }

  .righthorizontalLine{
    width: 32.5%;
    margin-left: 10%;
  }

  .signUpWithGoogleButton{
   height: 12.5%;
   font-size: 12px;
  }

  .transparentButtonBox{
   height: 30px;
   width: 50%;
   position:absolute;
   left: 38%;
   bottom: 15%;
  }

  .buttonBox{
    margin-left: 32.5%;
    font-size: 15px;
  }
}