@font-face {
  font-family: Jura;
  src: url('../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
}

.hint {
  font-size: 9px;
  color: #5A5454;
}

.blackHint{
  height: 9px;
  width: 100%;
}

.background{
  background-color: #D0E0EB;
  height:100vh;
  width:100%;
  overflow-y: hidden;
  position: relative;
}

.box{
  display: flex;
  color: white;
  flex-direction: column;
  width: 40%;
  height: 75vh;
  background-color: #FFFFFF; 
  margin: 30px auto;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  gap: 20px;
  font-family: Jura;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
  overflow-y: auto;
}


.lblBox{
  height: 10%;
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Jura';
  color: #5A5454;
}

.smallBox{
  height: 25%;
  width: 80%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: 'Jura';
  font-size: 16px;
  color: #5A5454;
}

.checkBox{
  height: 10%;
  width: 40%;
  margin-left: 15%;
  font-family: 'Jura';
  font-size: 0.75vw;
  color: #5A5454;
}

.buttonBox{
   height: 40px;
   width: 100px;
   border-radius: 2em;
   font-family: 'Jura';
   font-size: 23px;
   border: 1px solid white;
   color: #5A5454;
   background-color: #D9D9D9;
   white-space: nowrap;
}

.buttonBox:hover {
  transform: scale(1.1);
  background-color: #BFC7D1;
}

.lineBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 30px auto;   /* more breathing room for larger text */
  gap: 20px;           /* increased gap to match bigger OR */
}

.line {
  flex: 1;
  height: 1px;
  background-color: #b3b3b3;
}

.orText {
  font-size: 30px;
  font-family: 'Jura';
  color: #5A5454;
  white-space: nowrap;
}

.signUpWithGoogleButton {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  height: 45px;
  display: flex;
  align-items: center;
  color: black;
  border: 1px solid rgb(206, 206, 206);
}

.signUpWithGoogleButton:hover {
  transform: scale(1.02);
  background-color: #BFC7D1;
}

.signUpWithGoogleText{
  margin-left: 25%;
  font-size: 1.5vw;
}

.transparentButtonBox{
   height: 30px;
   width: 50%;
   position:absolute;
   left: 43.75%;
   bottom: 15%;
   font-family: 'Jura';
}

.signUpWitGoogleArea{
  width: 100%;
  height: 15vh;
  display: flex;
}

.fieldGroup {
  width: 80%;
  margin: 0 auto 18px auto;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #5A5454;
  margin-bottom: 4px;
  font-family: 'Jura';
}

.txtBox {
  height: 38px;
  border-radius: 20px;
  background-color: #F0F0F0;
  padding-left: 12px;
  border: none;
  color: black;
}

.centerButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.googleButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.showPasswordRow {
  width: 80%;
  margin: -5px auto 15px auto;
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: 'Jura';
  font-size: 14px;
  color: #5A5454;
}

