@font-face {
  font-family: Jura;
  src: url('../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../../public/fonts/Roboto-Light.ttf');
}

.hint {
  font-size: 9px;
  color: #ffffff;
}

.blackHint{
  height: 9px;
  width: 100%;
}

.background{
  background-color: rgb(57, 65, 83);
  height:90vh;
  width:100%;
  overflow-y: hidden;
  position: relative;
}

.box{
  display: flex;
  color: white;
  flex-direction: column;
  width: 30%;
  height: 60vh;
  background-color: rgb(91, 102, 128); 
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
}


.lblBox{
  height: 10%;
  width: 100%;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Jura';
}

.smallBox{
  height: 25%;
  width: 80%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  font-family: 'Jura';
  font-size: 16px;
}

.txtBox{
   height: 50%;
   width: 100%;
   background-color: #828FAF;
   border: 1px solid white;
   border-radius: 2em;
   text-indent: 5px;
   font-size: 16px;
   position: relative;
   font-family: 'Courier New', Courier, monospace;
   overflow: hidden;
}

.checkBox{
  height: 10%;
  width: 40%;
  margin-left: 15%;
  font-family: 'Jura';
  font-size: 0.75vw;
}

.buttonBox{
   height: 4vh;
   width: 30%;
   margin-left: 35%;
   border-radius: 1em;
   background-color: #699DD8;
   font-family: 'Jura';
   font-size: 1vw;
   overflow: hidden;
   border: 1px solid white;
}

.buttonBox:hover {
  transform: scale(1.1);
  background-color: #3F6DA1;
}

.lineBox{
  margin-top: 5%;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lefthorizontalLine{
  height: 1px;
  width: 37%;
  margin-top: 25px;
  margin-left: 5%;
  background-color: #282828;

}

.righthorizontalLine{
  height: 1px;
  width: 37%;
  margin-top: 25px;
  margin-left: 5%;
  background-color: #282828;

}

.orBox{
  width: 10%;
  height: 2px;
  font-size: 1.5vw;
  color:white;
  margin-left: 5%;
  margin-bottom: 3%;
  font-family: 'Jura';
  text-align: center;
}

.signUpWithGoogleButton{
   height: 40px;
   width: 80%;
   border-radius: 16px;
   background-color: #f7f7f7;
   color: black;
   margin-left: 10%;
   font-size: 22px;
   font-family: 'Roboto';
   display: flex;
   margin-top: 40px;
   overflow: hidden;
}

.signUpWithGoogleText{
  margin-left: 25%;
  font-size: 1.5vw;
}

.transparentButtonBox{
   height: 30px;
   width: 50%;
   position:absolute;
   left: 43.75%;
   bottom: 15%;
   font-family: 'Jura';
}
