.topCommunitiesIcon{
    border-radius: 1em;
    margin-right: 2%;
    margin-left: 4%;
    margin-top: 2%;
    background-color: black;
    width: 40px;
    height: 40px;
}

.topCommunitiesItem{
    width: 100%;
    height: 6vh;
    display: flex;
    margin-bottom: 1vw;
    border-radius: 1em;
}

.topCommunitiesName{
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;     /* Prevent wrapping */
    overflow: hidden;        /* Prevent stretch */
    text-overflow: ellipsis; /* Prevent scrollbar */
    font-size: 12px;
}

.communitiesTitle{
    font-size: 14px;
}

.topCommunitesScroll{
    overflow-y: auto;
    margin-right: 8px;
}

.topCommunitesScroll::-webkit-scrollbar {
    width: 8px;
}

.topCommunitesScroll::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.topCommunitesScroll::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 12px;
}

.topCommunitiesItem :hover{
    background-color: #ffffff;
}

.topCommunitiesIcon :hover{
    background-color: #5A5454;

}


.topCommunitiesBar{
    background-color: #F5F5F5;
    color: #5A5454;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: gray;
    text-indent: 3%;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

.titleName{
    white-space: nowrap;    

}