.topCommunitiesIcon{
    border-radius: 1em;
    margin-right: 2%;
    margin-left: 4%;
    background-color: black;
}

.topCommunitiesItem{
    width: 100%;
    height: 6vh;
    display: flex;
    margin-bottom: 1vw;
    border-radius: 1em;
}

.topCommunitiesName{
    width: 100%;
    display: flex;
    flex-direction: column;
    white-space: nowrap;     /* Prevent wrapping */
    overflow: hidden;        /* Prevent stretch */
    text-overflow: ellipsis; /* Prevent scrollbar */
}

.communitiesTitle{
    font-size: 14px;
}

.topCommunitesScroll{
    overflow-y: auto;
}

.topCommunitiesItem :hover{
    background-color: #5A5454;
}

.topCommunitiesIcon :hover{
    background-color: #5A5454;

}


.topCommunitiesBar{
    background-color: #EDEDED;
    color: #5A5454;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: gray;
    text-indent: 3%;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

.titleName{
    white-space: nowrap;    

}