.searchbar {
    text-align: center;
    margin-top: 100px;
    position: relative;
    top: 100px; 
    left: 400px;
    display: flex;
}

.searchResult {
    display: flex;
    font-size: 14px;
    top: 5%;
    left: 2%;
    text-align: left;
    position: relative;
    margin-bottom: 2%;
    margin-top: 2%;
}