.header {
    font-size: 35px;
    text-align: center;
    color: rgb(255,255,255);
}

.background {
    background-color: #D0E0EB;
    display: grid;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
    grid-template-columns: 16.67vw 58.67vw 16.67vw;
    grid-template-rows: 6vh 34vh 54vh;
    grid-template-areas: 
    "NavBar NavBar NavBar"
    "CommunitiesBar Center RightBar"
    "ServerBar Center RightBar";
    row-gap: 3%;
    column-gap: 4%;
}

.text {
    color: #5A5454;
}

.joinButton{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.cancelButton {
    background-color: #888;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
    margin-right: 1rem;
}

.cancelButton:hover {
    background-color: #666;
}

.deleteButton {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
    margin-left: 1rem;
}

.deleteButton:hover {
    background-color: #c9302c;
}


.homeLogo{
    height: 50px;
    width: 200px;
}

.line{
    background-color:rgb(255,255,255);
    color:rgb(255,255,255);
    height:1px;
    width:495px;
    margin:100px;
    position:relative;
    right:470px;
}

.channelList{
    background-color: rgb(255,255,255);
}

.communityImage{
    background-color: rgb(0,0,0);
    height:400px;
    width:1800px;
    border-radius:1rem;
    position:relative;

}

.bigBox{
    background-color: rgb(57, 65, 83);
    color: rgb(255,255,255);
    position: relative;
    width: 700px;
    height: 85vh;
    left: -485px;
    top:15vh;
    display: flex;
    justify-content: center;
}

.banner{
    background-color: rgb(255,255,255);
    position: relative;
    right:1185px;
    top:5vh;
    height: 10vh;
    width: 700px;
    text-align:center;
    font-size:24px;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100vh;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.pfpSection{
    background-color: rgb(28,38,66);
    position:relative;
    margin:1px;
    width:80px;
    height:30px;
    left:1150px;
    margin-left:30px;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(57,65,83);
    margin: 0px;
}

.dropdownMenu {
    background-color: rgb(91,102,128);
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(184,184,184);
}

.yourCommunitiesBar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    font-weight: bold;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.serverBar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-indent: 3%;
    font-family: Inria Sans;
    font-size: 20px;
    color: #5A5454;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.serverContainer{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
    border: 3px;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.channelText{
    font-family: Inria Sans;
    font-size: 15px;
    background-color: #FFFFFF;
    color: #5A5454;
    margin-left: 10px;
}

/* I dont think we need this
.horizontalLine{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

I dont think we need this
.horizontalLine1{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;

}
*/

.communitiesButtons{
    width: 90%;
    background-color: #F0F0F0;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #D9D9D9;
}

.channelInfoBox{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.channelInfoh1{
    margin-top: 10px;
    color: #5A5454;
    font-size: 25px;
    border: 3px #D0E0EB;
}

.usersText{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    height: 20vh;
}

.channelInfoh2{
    margin-top: 10px;
    font-size: 15px;
    text-indent: 0%;
    margin-left: 3%;
}

.UserContainer{
    margin-left: 3%;
    display: flex;
    color: gray;
    font-size: 17px;
    
}

.userTextAlign{
    margin-left: 3%;
    margin-top: 4%;
}

.RightBar{
    background-color: #D0E0EB;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.RulesBar{
    width: 100%;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #5A5454;
    background-color: #FFFFFF;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.usersBar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D9D9D9;
    border-radius: 0.5em;
    
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.communnitiesPage{
    width: 60%;
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left:20vw;
    top: 2.5vw;
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 20px;  
}

.centerPage{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #D0E0EB;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Inria Sans;
    row-gap: 8%;
    border: 3px;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.bannerBox{
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    background-color: rgba(217, 217, 217, 1);
}

.titleBox{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
}

.firstBox{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.firstBox{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.titleText{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 3vh;
    font-size: 2vw;
    color: black;
}

.serverIcon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -1.5vw;
    margin-left: 1vw;
}

.blackLine{
    width: 100%;
    min-height: 2px;
    max-height: 2px;
    margin-top: 0.25%;
    background-color: black;
}

.groupHeader{
    width: 95%;
    height: 3vh;
    margin-left: 1.1%;
    font-size: 1vw;
    display: flex;
    overflow:hidden;

}

.groupName{
    width: 72%;
    height: 100vh;
    overflow: hidden;
}

/* .communityName{
    
} */

.deleteGroup{
    width: 30%;
    height: 100%;
}

.channelHeader{
    width: 95%;
    height: 4vh;
    display:flex;
    flex-direction: row;
}

.channelName{
    width: 60%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 1vw;
    color: #5A5454;
    margin-left: 10px;
    margin-left: 4%;
    overflow: hidden;
}

.deleteChannel{
    width: 35%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 0.8vw;
    color: #5A5454;
    margin-left: 10px;
    margin-left: 4%;

}

.createForumContainer{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    left:25%;
    bottom: 25%;
    border: 2px solid black;
    border-radius: 1em;
}

.forumCreationInfomation{
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;
}

.forumDescCreationInfomation{
    margin-top: 3vh;
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    height: 30vh;
    margin-bottom: 5vh;
    padding-left: 1em;
    padding-right: 1em;
}

.createForumButton{
    width: 25%;
    margin-left: 35%;
    margin-top: 1vh;
    border-radius: 1em;
    background-color: #F0F0F0;
    color: #5A5454;
}

.joinCommunityButton{
    width: 15%;
    height: 5vh;
    border-radius: 1em;
    margin-top: 0.25%;
    margin-left: 45%;
    background-color: rgb(15, 68, 167);
}

.editCommunityButton{
    margin-left: 2%;
    height: 4vh;
    border-radius: 1em;
    background-color: rgb(168, 156, 156);
    font-size: 0.8vw;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupBox {
    background-color: white;
    padding: 2rem;
    border-radius: 1em;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupText {
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border:floralwhite 1px solid;
    border-radius: 0.5em;
    font-family: Inria Sans;
}

.closeBtn {
    background-color: #FF5C5C;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.saveBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.closeBtn:hover {
    background-color: #FF3B3B;
}

.saveBtn:hover {
    background-color: #45a049;
}

.createBox{
    width: 100%;
    background-color: #FFFFFF;
    color: #5A5454;
}

@font-face {
  font-family: Jura;
  src: url('../../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Inria Sans;
  src: url('../../../public/fonts/InriaSans-Light.ttf');
}

.createForumText{
    text-align: center;
}

.userLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;   /* optional */
  color: inherit;          /* optional */
}