.navBox,
.navBox2 {
    width: 100%;
    height: 3.5em;
    background: #ededed;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Left logo */
.homeLogo {
    height: 100%;
    display: flex;
    align-items: center;
}

/* ---- RIGHT ICONS FIX ---- */
.rightIcons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    /* pushes icons to right */
    position: relative;
    /* crucial for dropdown positioning */
}

/* Notification bell */
.notificationButton {
    width: 32px;
    height: 32px;
    border-radius: 0.5em;
    background: white;
    cursor: pointer;
}

/* User icon */
.settingsIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b8b8b8;
    cursor: pointer;
    margin-top: 5px;
}

/* DROPDOWN BASE STYLES */
.dropdownMenu,
.notifDropdownMenu {
    position: absolute;
    top: 50px;
    right: 0;
    background: #ededed;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    z-index: 999;
}

/* Profile dropdown */
.dropdownMenu {
    width: 7em;
    height: 6em;
    align-items: center;
    color: #5A5454;
}

.dropdownMenu:hover {
    background-color: #D9D9D9;
}

/* Notification dropdown */
.notifDropdownMenu {
    width: 9em;
    min-height: 9em;
    align-items: center;
    color: black;
}

/* Buttons inside dropdowns */
.buttonBox {
    background-color: #EDEDED;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login section (when logged out) */
.loginAndSignUp {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    font-size: 14px;
    margin-left: auto;
}

.logInSignUpButton {
    background-color: #D0E0EB;
    color: #5A5454;
    height: 100%;
    width: 42.5%;
    border-radius: 1em;
    text-align: center;
    line-height: 30px;
    color: black;
}

.logInSignUpButton:hover {
    background-color: #D9D9D9;
    transform: scale(1.1);
}

.orText {
    width: 30px;
    text-align: center;
    color: rgb(51, 51, 51);
}