.navBox{
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 3.19em;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 16.67vw 69vw 14.33vw;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: 
    "Home login blankSpace"
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 3em;
    width: 12em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 53em;
    margin-right: 2em;
}

.logInSignUpButton{
    background-color: #D0E0EB;
    color: #5A5454;
    height: 2em;
    width: 5em;
    border-radius: 1em;
    margin-top: 0.7em;
    text-align: center;
    line-height: 2em;
}

.logInSignUpButton:hover {
    background-color: #D9D9D9;
    transform: scale(1.1);
}

.orText{
    height: 1em;
    width: 0.5em;
    margin-top: 0.8em;
    margin-right: 0.5em;
    color: #5A5454;
}

.notifDropdownMenu {
    background-color: #EDEDED;
    margin-top: 1em;
    margin-right: 5em;
    width: 7em;
    height: 6em;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A5454;
}

.dropdownMenu {
    background-color: #EDEDED;
    width: 7em;
    height: 6em;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A5454;
}

.dropdownMenu:hover{
    background-color: #D9D9D9;
}
.notifDropdownMenu:hover{
    background-color: rgb(156,156,156);
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.dropdown:focus-within .notifDropdownMenu{
    opacity: 1;
    pointer-events: auto;
}
.settingsIcon{
    margin-top:0.3em;
    height: 2.8em;
    width: 2.8em;
    border-radius: 50%;
    background-color: #B8B8B8;
    margin-right: 4em;
}

.notificationButton{
    height: 2em;
    width: 2em;
    border-radius: 1em;
    background-color: #EDEDED;
    margin-left: 10px;
    margin-top:10px;
    opacity: 10;
}