.navBox {
    width: 100%;
    height: 3.5em;
    background: #ededed;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative; /* allows absolute children */
}

.navBox2 {
    width: 100%;
    height: 3.5em;
    background: #ededed;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative; /* allows absolute children */
}

/* Left logo */
.homeLogo {
    height: 100%;
    display: flex;
    align-items: center;
}

/* ---- RIGHT ICONS FIX ---- */
.rightIcons {
    width: 150px;
    position: fixed;
    right: -30px;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Notification bell */
.notificationButton {
    width: 32px;
    height: 32px;
    border-radius: 0.5em;
    background: white;
    cursor: pointer;
}

/* User icon */
.settingsIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b8b8b8;
    cursor: pointer;
}

/* Dropdown menus */
.dropdownMenu,
.notifDropdownMenu {
    position: fixed;
    top: 50px;
    right: 0;
    width: 9em;
    height: 9em;
    background: #ededed;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.logInInfo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logInSignUpButton {
    background-color: #D0E0EB;
    color: #5A5454;
    height: 100%;
    width: 42.5%;
    border-radius: 1em;
    text-align: center;
    line-height: 30px;
    color: black;
}

.logInSignUpButton:hover {
    background-color: #D9D9D9;
    transform: scale(1.1);
}

.orText {
    height: 100%;
    width: 15%;
    color: rgb(51, 51, 51);
    text-align: center;
    margin-top: 2.5%;
}

.buttonBox {
    background-color: #EDEDED;
    width: 150 px;
    height: 50 px;
    color: rgb(0,0,0);
    position: relative;
}

.notifDropdownMenu {
    background-color: #EDEDED;
    width: 9em;
    height: 9em;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    z-index: 999;
    position: absolute;
    right: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdownMenu {
    background-color: #EDEDED;
    width: 7em;
    height: 6em;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A5454;
    z-index: 999;
    position: absolute;
    right: 20%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdownMenu:hover {
    background-color: #D9D9D9;
}

.notifDropdownMenu:hover {
    background-color: rgb(156, 156, 156);
}

.dropdown:focus-within .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
}

.dropdown:focus-within .notifDropdownMenu {
    opacity: 1;
    pointer-events: auto;

}

.settingsIcon {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
    margin-right: 4em;
}

.notificationButton {
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(255,255,255);
    margin-left: 10px;
    margin-top:10px;
}

.loginAndSignUp{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    font-size: 14px;
    position: fixed;
    right: 8px;
}