.navBox{
    background-color: rgba(237, 237, 237, 1);
    width: 100%;
    height: 51px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 16.67vw 69vw 14.33vw;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: 
    "Home blankSpace login"
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.logInSignUpButton{
    background-color: #3F6DA1;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 128px;
}

.dropdownMenu {
    background-color: rgba(237, 237, 237, 1);
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
}

.dropdownMenu:hover{
    background-color: rgb(156, 156, 156);
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    margin-top:5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 5.4%;
}