.navBox{
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.logInSignUpButton{
    background-color: #3F6DA1;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 128px;
}

.dropdownMenu {
    background-color: #5B6680;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 1;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdownMenu:hover{
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    margin-top:5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(255,255,255);
    margin-left: 10px;
}