.navBox {
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 3.19em;
    display: grid;
    grid-template-columns: 200px 75vw 40px 80px 40px;
    grid-template-rows: 100vh;
    grid-template-areas:
        "Home blankSpace signUp orTh register"
}

.navBox2 {
    width: 100%;
    height: 3.5em;
    background: #ededed;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative; /* allows absolute children */
}

/* Left logo */
.homeLogo {
    height: 100%;
    display: flex;
    align-items: center;
}

/* ---- RIGHT ICONS FIX ---- */
.rightIcons {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Notification bell */
.notificationButton {
    width: 32px;
    height: 32px;
    border-radius: 0.5em;
    background: white;
    cursor: pointer;
}

/* User icon */
.settingsIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b8b8b8;
    cursor: pointer;
}

/* Dropdown menus */
.dropdownMenu,
.notifDropdownMenu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 9em;
    height: 9em;
    background: #ededed;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.logInInfo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logInSignUpButton {
    background-color: #D0E0EB;
    color: #5A5454;
    height: 2em;
    width: 5em;
    border-radius: 1em;
    margin-top: 0.7em;
    text-align: center;
    line-height: 30px;
    color: black;
}

.logInSignUpButton:hover {
    background-color: #D9D9D9;
    transform: scale(1.1);
}

.orText {
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-top: 10px;
    text-indent: 65%;
}

.notifDropdownMenu {
    background-color: #EDEDED;
    width: 9em;
    height: 9em;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    z-index: 999;
    position: relative;
    right: 120%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdownMenu {
    background-color: #EDEDED;
    width: 7em;
    height: 6em;
    border-radius: 1em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A5454;
    z-index: 999;
    position: relative;
    right: 120%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.dropdownMenu:hover {
    background-color: #D9D9D9;
}

.notifDropdownMenu:hover {
    background-color: rgb(156, 156, 156);
}

.dropdown:focus-within .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
}

.dropdown:focus-within .notifDropdownMenu {
    opacity: 1;
    pointer-events: auto;

}

.settingsIcon {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
    margin-right: 4em;
}

.notificationButton {
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(255,255,255);
    margin-left: 10px;
    margin-top:10px;
}