.navBox{
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 3.19em;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 16.67vw 69vw 14.33vw;
    grid-template-rows: 90vh 10vh;
    grid-template-areas: 
    "Home login blankSpace"
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.logInInfo{
    height: 50px;
    width: 8em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 55em;
    margin-right: 2em;
}

.logInSignUpButton{
    background-color: #D0E0EB;
    height: 32px;
    width: 80px;
    border-radius: 1em;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}

.logInSignUpButton:hover {
    background-color: #699DD8;
    transform: scale(1.1);
}

.orText{
    height: 50px;
    width: 10px;
    position: absolute;
    top: 12px;
    right: 170px;
}

.notifDropdownMenu {
    background-color: #EDEDED;
    width: 150px;
    height: 150px;
    border-radius: 1em;
    position: relative;
    right:50px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0,0,0);
}
.dropdownMenu {
    background-color: #EDEDED;
    width: 9em;
    height: 9em;
    right: 20px;
    border-radius: 1em;
    position: absolute;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A5454;
}

.dropdownMenu:hover{
    background-color: #D9D9D9;
}
.notifDropdownMenu:hover{
    background-color: rgb(156,156,156);
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.dropdown:focus-within .notifDropdownMenu{
    opacity: 1;
    pointer-events: auto;
}
.settingsIcon{
    margin-top:5px;
    height: 40px;
    width: 40px;
    left: 150px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(255,255,255);
    margin-left: 10px;
    margin-top:10px;
}