.container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.createSection {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.forumBox{
    width: 100%;
    height: auto;
    margin-top:1%;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 1em;
    box-shadow: 5px 4px 8px rgba(0,0,0,0.05);
}

.createContainer{
    width: 100%;
    height: 50vh;

}

.input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5A5454;
}

.textarea{
    display: block;
    width: 100%;
    height: 20vh;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5A5454;
}

.mediaOut{
    display: block;
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5A5454;
    overflow-y: auto;
}

.textarea {
    min-height: 100px;
    background-color: #FFFFFF;
    color: #5A5454;
}

.primaryButton {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #F0F0F0;
    color: #5A5454;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.primaryButton:hover {
    background-color: #D9D9D9;
}

.postCard {
    border: 1px solid #999;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
    color: #5A5454;
    transition: transform 0.15s ease;
    width: 90%;
    min-height: 20vh;
    margin-left: 5%;
}

.postCard:hover {
    transform: scale(1.02);
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.contents {
    font-size: 16px;
    font-weight: 400;
    min-height: 2vh;
    width: 100%;
}

.meta {
    font-size: 14px;
    font-weight: 100;
    color: #ccc;
    margin-top: 5px;
    width: 100%;
    height: 3vh;
}

.user {
    font-size: 14px;
    font-weight: 100;
    color: #ccc;
    width: 50%;
    height: 3vh;
    text-wrap: unset;
    display: flex;
}

.userProfile{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-top: -0.5%;
    margin-right: 2%;
}

.time {
    width: 50%;
    height: 3vh;
    font-size: 14px;
    color: #5A5454;
    text-align: right;
    text-wrap: unset;
}

.likesCommentsShare{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 3.5vh;
}

.commentsBox{
    display: flex;
    width: 8%;
    height: 3.5vh;
    background-color: rgba(217, 217, 217, 1);
    text-indent: 1vw;
    border-radius: 1vw;
    margin-left: 3%;
}

.commentIcon{
    margin-left: 10%;
    margin-top:5%;
    width: 30%;
}

.ratioScore{
   width: 70%; 
}

.actions {
    display: grid;
    grid-template-columns: 23.33% 53.33% 23.34%;
    grid-row: 100%;
    width:  15%;
    height: 3.5vh;
    background-color: rgba(217, 217, 217, 1);
    grid-template-areas: "Yays score Nays";
    border-radius: 1em;
}

.button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10em;
    transition: background-color 0.2s ease;
}

.editButton {
    background-color: #f0ad4e;
}

.editButton:hover {
    background-color: #ec971f;
}

.deleteButton {
    background-color: #d9534f;
}

.deleteButton:hover {
    background-color: #c9302c;
}

.saveButton {
    background-color: #4caf50;
}

.saveButton:hover {
    background-color: #45a049;
}

.cancelButton {
    background-color: #888;
}

.cancelButton:hover {
    background-color: #666;
}

.voteButton {
    background-color: rgba(217, 217, 217, 1);
    color: white;
    border: none;
    border-radius: 1vw 0 0 1vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    height: 3.5vh;
}

.imageAlignmentInButton{
    margin-left: 5%;
}

.voteButton:hover {
    background-color: #5a6268;
}

.yayScore{
    color: black;
    text-align: center;
    margin-right: 10%;
}

.header {
    font-size: 35px;
    text-align: center;
    color: rgb(255,255,255);
}

.postHeading{
    display: flex;
    height:2vh;
    width:100%;
}

.background {
    background-color: #D0E0EB;
    display: grid;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
    grid-template-columns: 1vw 15.67vw 3vw 60.7vw 3vw 15.67vw 1vw;
    grid-template-rows: 6vh 34vh 54vh;
    grid-template-areas: 
    "NavBar NavBar NavBar NavBar NavBar NavBar NavBar"
    "margin1 CommunitiesBar margin3 Center margin4 RightBar margin2"
    "margin1 ServerBar margin3 Center margin4 RightBar margin2";
    row-gap: 3%;
}

.text {
    color: #5A5454;
}

.joinButton{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.line{
    background-color:rgb(255,255,255);
    color:rgb(255,255,255);
    height:1px;
    width:495px;
    margin:100px;
    position:relative;
    right:470px;
}

.channelList{
    background-color: rgb(255,255,255);
}

.communityImage{
    background-color: rgb(0,0,0);
    height:400px;
    width:1800px;
    border-radius:1rem;
    position:relative;

}

.bigBox{
    background-color: rgb(57, 65, 83);
    color: #5A5454;
    position: relative;
    width: 700px;
    height: 85vh;
    left: -485px;
    top:15vh;
    display: flex;
    justify-content: center;
}

.banner{
    background-color: rgb(255,255,255);
    position: relative;
    right:1185px;
    top:5vh;
    height: 10vh;
    width: 700px;
    text-align:center;
    font-size:24px;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100vw;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.pfpSection{
    background-color: rgb(28,38,66);
    position:relative;
    margin:1px;
    width:80px;
    height:30px;
    left:1150px;
    margin-left:30px;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(57,65,83);
    margin: 0px;
}

.dropdownMenu {
    background-color: rgb(91,102,128);
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(184,184,184);
}

.yourCommunitiesBar{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.serverBar{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    text-indent: 3%;
    font-family: Inria Sans;
    font-size: 1.5em;
    color: #5A5454;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.serverContainer{
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
}

.channelText{
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
    margin-left: 10px;
}


.horizontalLine{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

.horizontalLine1{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
    margin-top: -1.1vh;
    position: fixed;
}


.communitiesButtons{
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
    background-color: #F0F0F0;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #D9D9D9;
}

.channelInfoBox{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    height:20vh;
}

.channelInfoh1{
    margin-top: 10px;
    color: #5A5454;
    font-size: 25px;
}

.usersText{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    height: 20vh;
}

.channelInfoh2{
    margin-top: 10px;
    font-size: 15px;
    text-indent: 0%;
    margin-left: 3%;
}

.UserContainer{
    margin-left: 3%;
    display: flex;
    color: gray;
    font-size: 17px;
    
}

.userTextAlign{
    margin-left: 3%;
    margin-top: 4%;
}

.RightBar{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.RulesBar{
    width: 100%;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.usersBar{
    background-color: rgb(11, 11, 44);
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.communnitiesPage{
    width: 60%;
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left:20vw;
    top: 2.5vw;
    display: flex;
    flex-direction: column;
    color: #5A5454;
    font-size: 20px;  
}

.createBox{
    width: 100%;
    min-height: 55vh;
    background-color: white;
    color: #5A5454;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
}

.centerPage{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #5A5454;
    font-size: 20px;
    font-family: Inria Sans;
    border: 3px #D0E0EB;
    border-radius: 1em;
}

.descText{
    margin-left: 10%;
    margin-top: 1vh;
}

.bannerBox{
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    background-color: #3a3a3a;
}

.titleBox{
    width: 100%;
    height: 14vh;
    display: flex;
}

.titleText{
    margin-left: 3vh;
    font-size: 2vw;
}

.serverIcon{
    min-width: 13%;
    min-height: 16vh;
    max-height: 16vh;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-top: -3.5vw;
    margin-left: 4vw;
}

.blackLine{
    width: 100%;
    min-height: 2px;
    max-height: 2px;
    margin-top: 0.25%;
    background-color: black;
}

.groupHeader{
    width: 100%;
    height: 4vh;
    margin-left: 0.5%;
    display: flex;
    font-size: 0.9em;
}

.groupName{
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.deleteGroup{
    width: 30%;
    height: 100%;
}

.channelHeader{
    width: 95%;
    height: 3vh;
    display:flex;
}

.channelName{
    width: 65.5%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 1em;
    color: #5A5454;
    margin-left: 10px;
    margin-left: 4%;
    overflow: hidden;
    
}

.deleteChannel{
    width: 30%;
    height: 100%;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: 0.5em;
    color: #5A5454;
    margin-left: 20%;
}

.createForumContainer{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    left:25%;
    bottom: 25%;
    border: 2px solid black;
    border-radius: 1em;
}

.forumCreationInfomation{
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;
}

.forumDescCreationInfomation{
    margin-top: 3vh;
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    height: 30vh;
    margin-bottom: 5vh;
    padding-left: 1em;
    padding-right: 1em;
}

.createForumButton{
    width: 25%;
    margin-left: 35%;
    margin-top: 1vh;
    border-radius: 1em;
    background-color: #F0F0F0;
    color: #5A5454;
}

.joinCommunityButton{
    width: 15%;
    height: 5vh;
    border-radius: 1em;
    margin-top: 0.25%;
    margin-left: 45%;
    background-color: rgb(15, 68, 167);
}

.editForumButton{
    margin-left: 2vw;
    padding: 0.5vw 1vw;
    border: none;
    color: #5A5454;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1vw;
    height: 4vh;
    border-radius: 1em;
    background-color: rgb(168, 156, 156);
    font-size: 0.8vw;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupBox {
    background-color: #5B6680;
    padding: 2rem;
    border-radius: 1em;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupText {
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border:floralwhite 1px solid;
    border-radius: 0.5em;
    font-family: Inria Sans;
}

.closeBtn {
    background-color: #FF5C5C;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.saveBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.closeBtn:hover {
    background-color: #FF3B3B;
}

.saveBtn:hover {
    background-color: #45a049;
}

.mediaPreview {
    max-width: 100%;
    min-height: 20vh;
    margin-top: 1rem;
    border-radius: 0.5em;
}

@font-face {
  font-family: Jura;
  src: url('../../../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Inria Sans;
  src: url('../../../../public/fonts/InriaSans-Light.ttf');
}

.topBox{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1vw;
    border-radius: 1em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    
}

.sortText{
    font-size: 12px;
}

.activeChannel a {
    width: 1000px;
    background-color: #7c7c7c;
}


.postReportButton{
    width: 10%;
    height: 3.5vh;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 1em;
    text-align: center;
    margin-left: 3%;
}

.postReportButton :hover{
    background-color: rgb(139, 139, 139);
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

.postSearchBar{
    background-color: rgba(90, 84, 84, 1);
    width: 60%;
    height: 4vh;
    border-radius: 1em;
    position: relative;
    bottom: 10%;
    left:20%;
    color: white;
}

.enterSearch{
    width: 10%;
    height: 4vh;
    border-radius: 1em;
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
    position: relative;
    left:75%;
    bottom: 19.5%;
}