.container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.createSection {
    width: 80%;
    height: 70vh;
    margin-left: 10%;
    margin-top: 3vh;
}

.forumBox{
    width: 80%;
    height: 25vh;
    margin-left: 10%;
    margin-top:1%;
}

.createContainer{
    width: 100%;
    height: 50vh;

}

.input,
.textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #005bb5;
}

.textarea {
    min-height: 100px;
    background-color: #005bb5;
}

.primaryButton {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.primaryButton:hover {
    background-color: #005bb5;
}

.postCard {
    border: 1px solid #999;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    background-color: #5b6680;
    color: #fff;
    position: relative;
    transition: transform 0.15s ease;
}

.postCard:hover {
    transform: scale(1.02);
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.contents {
    font-size: 16px;
    font-weight: 400;
}

.meta {
    font-size: 14px;
    font-weight: 100;
    color: #ccc;
    margin-top: 5px;
}

.time {
    font-size: 14px;
    color: #ccc;
    position: absolute;
    top: 20px;
    right: 20px;
}

.actions {
    margin-top: 10px;
}

.button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s ease;
}

.editButton {
    background-color: #f0ad4e;
}

.editButton:hover {
    background-color: #ec971f;
}

.deleteButton {
    background-color: #d9534f;
}

.deleteButton:hover {
    background-color: #c9302c;
}

.saveButton {
    background-color: #4caf50;
}

.saveButton:hover {
    background-color: #45a049;
}

.cancelButton {
    background-color: #888;
}

.cancelButton:hover {
    background-color: #666;
}

.voteButton {
    background-color: #6c757d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s ease;
}

.voteButton:hover {
    background-color: #5a6268;
}

.yayActive {
    background-color: #4caf50;
}

.yayActive:hover {
    background-color: #45a049;
}

.nayActive {
    background-color: #d9534f;
}

.nayActive:hover {
    background-color: #c9302c;
}

.header {
    font-size: 35px;
    text-align: center;
    color: rgb(255,255,255);
}

.background {
    background-color: rgb(28, 38, 66);
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
}

.text {
    color: rgb(255,255,255);
}

.joinButton{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.homeLogo{
    height: 50px;
    width: 200px;
}

.line{
    background-color:rgb(255,255,255);
    color:rgb(255,255,255);
    height:1px;
    width:495px;
    margin:100px;
    position:relative;
    right:470px;
}

.channelList{
    background-color: rgb(255,255,255);
}

.communityImage{
    background-color: rgb(0,0,0);
    height:400px;
    width:1800px;
    border-radius:1rem;
    position:relative;

}

.bigBox{
    background-color: rgb(57, 65, 83);
    color: rgb(255,255,255);
    position: relative;
    width: 700px;
    height: 85vh;
    left: -485px;
    top:15vh;
    display: flex;
    justify-content: center;
}

.banner{
    background-color: rgb(255,255,255);
    position: relative;
    right:1185px;
    top:5vh;
    height: 10vh;
    width: 700px;
    text-align:center;
    font-size:24px;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100vh;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.pfpSection{
    background-color: rgb(28,38,66);
    position:relative;
    margin:1px;
    width:80px;
    height:30px;
    left:1150px;
    margin-left:30px;
}

.notificationButton{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(57,65,83);
    margin: 0px;
}

.dropdownMenu {
    background-color: rgb(91,102,128);
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdown:focus-within .dropdownMenu{
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon{
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(184,184,184);
}

.yourCommunitiesBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.serverBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0vw;
    text-indent: 3%;
    font-family: Inria Sans;
    font-size: 25px;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
}

.serverContainer{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0vw;
    font-family: Inria Sans;
    font-size: 15px;
    color: gray;
}

.channelText{
    font-family: Inria Sans;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
}


.horizontalLine{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

.horizontalLine1{
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
    margin-top: -1.1vh;
    position: fixed;
}

.communitiesButtons{
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon{
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities{
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover{
    background-color: #394153;
}

.channelInfoBox{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 51px;
    right: 0px;
    font-family: Inria Sans;
    color: gray;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.channelInfoh1{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.usersText{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    height: 20vh;
}

.channelInfoh2{
    margin-top: 10px;
    font-size: 15px;
    text-indent: 0%;
    margin-left: 3%;
}

.UserContainer{
    margin-left: 3%;
    display: flex;
    color: gray;
    font-size: 17px;
    
}

.userTextAlign{
    margin-left: 3%;
    margin-top: 4%;
}

.RightBar{
    background-color: rgb(11, 11, 44);
    width: 20%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 0vw;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.RulesBar{
    width: 100%;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.usersBar{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    bottom: 0vw;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navBox{
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.communnitiesPage{
    width: 60%;
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left:20vw;
    top: 2.5vw;
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 20px;  
}

.centerPage{
    width: 60%;
    height: 94vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left:20vw;
    top: 2.7vw;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgba(57, 65, 83, 1);
    font-family: Inria Sans;
}

.descText{
    margin-left: 10%;
    margin-top: 1vh;
}

.bannerBox{
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    background-color: rgba(217, 217, 217, 1);
}

.titleBox{
    width: 100%;
    height: 10vh;
    display: flex;
}

.titleText{
    margin-left: 3vh;
    font-size: 2vw;
}

.serverIcon{
    min-width: 13%;
    min-height: 16vh;
    max-height: 16vh;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-top: -3.5vw;
    margin-left: 4vw;
}

.blackLine{
    width: 100%;
    min-height: 2px;
    max-height: 2px;
    margin-top: 0.25%;
    background-color: black;
}

.groupHeader{
    width: 95%;
    height: 2vh;
    margin-left: 0.5%;
    display: flex;
}

.groupName{
    width: 72%;
    height: 100%;
    overflow: hidden;
}

.deleteGroup{
    width: 30%;
    height: 100%;
}

.channelHeader{
    width: 95%;
    height: 2vh;
    display:flex;
}

.channelName{
    width: 65.5%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-left: 4%;
    overflow: hidden;
    
}

.deleteChannel{
    width: 25%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-left: 4%;
}

.createForumContainer{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.forumCreationInfomation{
    margin-left: 10%;
    background-color: rgb(19, 19, 19);
    border-radius: 1em;
    width: 80%;
}

.forumDescCreationInfomation{
    margin-top: 1vh;
    margin-left: 10%;
    background-color: rgb(19, 19, 19);
    border-radius: 1em;
    width: 80%;
}

.createForumButton{
    width: 25%;
    margin-left: 35%;
    margin-top: 1vh;
    border-radius: 1em;
    background-color: rgb(1, 92, 1);
}

.joinCommunityButton{
    width: 15%;
    height: 5vh;
    border-radius: 1em;
    margin-top: 0.25%;
    margin-left: 45%;
    background-color: rgb(15, 68, 167);
}

@font-face {
  font-family: Jura;
  src: url('../../../../public/fonts/Jura-Light.ttf');
}

@font-face {
  font-family: Inria Sans;
  src: url('../../../../public/fonts/InriaSans-Light.ttf');
}
