.container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.createSection {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.forumBox {
    width: 100%;
    height: auto;
    margin-top: 1%;
    background-color: rgba(245, 245, 245, 0);
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    text-indent: 5%;
}

.createContainer {
    width: 100%;
    height: 50vh;

}


.input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5A5454;
}

.textarea {
    display: block;
    width: 100%;
    height: 20vh;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5A5454;
}


.mediaOut {
    display: block;
    width: 100%;
    height: 10vh;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #5A5454;
    overflow-y: auto;
}

.textarea {
    min-height: 100px;
    background-color: #FFFFFF;
    color: #5A5454;
}

.primaryButton {
    padding: 10px 20px;
    border: 1px solid #0072BB;
    border-radius: 1.1em;
    background-color: #0072BB;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    margin-top: 80vh;
    white-space: nowrap;
}

.primaryButton:hover {
    background-color: #004570;
}

.postCard {
    border: 1px solid #999;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    background-color: #FFFFFF;
    color: #5A5454;
    transition: background-color 0.15s ease;
    width: 100%;
    min-height: 20vh;
}

.postCard:hover {
    background-color: #f3f3f3;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.contents {
    font-size: 16px;
    font-weight: 400;
    min-height: 2vh;
    width: 90%;
    margin-left: 5%;
    text-indent: 0%;
}

.meta {
    font-size: 14px;
    font-weight: 100;
    color: #ccc;
    margin-top: 5px;
    width: 100%;
    height: 3vh;
}

.user {
    width: 50%;
    height: 3vh;
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
}

.authorText {
    font-size: 14px;
    font-weight: 100;
    color: #5A5454;

}

.userProfile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-right: 2%;
    flex-shrink: 0;
}

.time {
    width: 50%;
    height: 3vh;
    font-size: 14px;
    margin-right: 5px;
    color: #5A5454;
    text-align: right;
    text-wrap: unset;
}


.likesCommentsShare {
    margin-top: 2%;
    display: flex;
    width: 90%;
    height: 30px;
    margin-left: 5%;
}

.commentsBox {
    display: flex;
    width: 80px;
    height: 30px;
    background-color: rgba(217, 217, 217, 1);
    text-indent: 1vw;
    border-radius: 1vw;
    margin-left: 3%;
    margin-right: 1%;
}

.commentIcon {
    margin-left: 10%;
    margin-top: 5%;
    width: 40px;
    height: 40px;
}

.ratioScore {
    width: 100px;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.actions {
    display: flex;
    width: 150px;
    height: 30px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 1em;
}

.button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10em;
    transition: background-color 0.2s ease;
}



.saveButton {
    background-color: #4caf50;
}

.saveButton:hover {
    background-color: #45a049;
}

.cancelButton {
    background-color: #888;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
    margin-right: 1rem;
}

.cancelButton:hover {
    background-color: #666;
}

.deleteButtonPopup {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
    margin-left: 1rem;
}

.deleteButtonPopup:hover {
    background-color: #c9302c;
}

.voteButton {
    background-color: rgba(217, 217, 217, 1);
    color: white;
    border: none;
    border-radius: 1vw 0 0 1vw;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 30px;
    height: 30px;
}

.imageAlignmentInButton {
    margin-left: 5%;
}

.voteButton:hover {
    background-color: #5a6268;
}

.yayScore {
    color: black;
    text-align: center;
    font-size: 20px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
}

.header {
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.postHeading {
    display: flex;
    height: 2vh;
    width: 100%;
}

.background {
    background-color: #D0E0EB;
    display: grid;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    overflow-y: hidden;
    grid-template-columns: 1vw 15.67vw 3vw 60.7vw 3vw 15.67vw 1vw;
    grid-template-rows: 5vh 34vh 54vh;
    grid-template-areas:
        "NavBar NavBar NavBar NavBar NavBar NavBar NavBar"
        "margin1 CommunitiesBar margin3 Center margin4 RightBar margin2"
        "margin1 ServerBar margin3 Center margin4 RightBar margin2";
    row-gap: 3%;
}

.text {
    color: #5A5454;
}

.joinButton {
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.homeLogo {
    height: 50px;
    width: 200px;
}

.line {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 1px;
    width: 495px;
    margin: 100px;
    position: relative;
    right: 470px;
}

.channelList {
    background-color: rgb(255, 255, 255);
}

.communityImage {
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 1800px;
    border-radius: 1rem;
    position: relative;

}

.bigBox {
    background-color: rgb(57, 65, 83);
    color: #5A5454;
    position: relative;
    width: 700px;
    height: 85vh;
    left: -485px;
    top: 15vh;
    display: flex;
    justify-content: center;
}

.banner {
    background-color: rgb(255, 255, 255);
    position: relative;
    right: 1185px;
    top: 5vh;
    height: 10vh;
    width: 700px;
    text-align: center;
    font-size: 24px;
}

.navBox {
    background-color: rgb(11, 11, 44);
    width: 100vw;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.pfpSection {
    background-color: rgb(28, 38, 66);
    position: relative;
    margin: 1px;
    width: 80px;
    height: 30px;
    left: 1150px;
    margin-left: 30px;
}

.notificationButton {
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(57, 65, 83);
    margin: 0px;
}

.dropdownMenu {
    background-color: rgb(91, 102, 128);
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdown:focus-within .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
}

.settingsIcon {
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: rgb(184, 184, 184);
}

.yourCommunitiesBar {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}



.serverContainer {
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
}

.channelText {
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
    margin-left: 10px;
}


.horizontalLine {
    background-color: #000000;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}

.horizontalLine1 {
    background-color: #AAAAAA;
    width: 95%;
    height: 1px;
    margin-left: 8px;
    margin-top: -1.1vh;
    position: fixed;
}


.communitiesButtons {
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
    background-color: #F0F0F0;
}

.addIcon {
    background-color: rgb(168, 156, 156);
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover {
    background-color: #D9D9D9;
}

.channelInfoBox {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 20vh;
}

.channelInfoh1 {
    margin-top: 10px;
    color: #5A5454;
    font-size: 25px;
}

.usersText {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 100%;
    height: 20vh;
}

.channelInfoh2 {
    margin-top: 10px;
    font-size: 15px;
    text-indent: 0%;
    margin-left: 3%;
}

.UserContainer {
    margin-left: 3%;
    display: flex;
    color: gray;
    font-size: 17px;

}

.userTextAlign {
    margin-left: 3%;
    margin-top: 4%;
}

.RightBar {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    margin-right: 5px;
}

.RulesBar {
    width: 100%;
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.usersBar {
    background-color: rgb(11, 11, 44);
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navBox {
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.communnitiesPage {
    width: 60%;
    height: calc(100vh - 51px);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 20vw;
    top: 2.5vw;
    display: flex;
    flex-direction: column;
    color: #5A5454;
    font-size: 20px;
}

.createBox {
    position: sticky;
    top: 1rem;
    /* Keep it visible */
    left: 80%;
    /* Keep near the right edge */
    width: 15vw;
    z-index: 99999;
}

.centerPage {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #5A5454;
    font-size: 20px;
    font-family: Inria Sans;
    border: 3px #D0E0EB;
    border-radius: 1em;
}

.descText {
    margin-left: 10%;
    margin-top: 1vh;
}

.bannerBox {
    width: 100%;
    min-height: 20vh;
    max-height: 20vh;
    background-color: #3a3a3a;
}

.titleBox {
    width: 100%;
    height: 14vh;
    display: flex;
}

.titleText {
    margin-left: 3vh;
    font-size: 40px;
    white-space: nowrap;
}

.serverIcon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: -2vw;
    margin-left: 1vw;
    margin-right: 1.5vw;
    flex-shrink: 0;
}

.blackLine {
    width: 100%;
    min-height: 2px;
    max-height: 2px;
    margin-top: 0.25%;
    background-color: black;
}

.groupHeader {
    display: flex;
    text-indent: 10%;
}

.groupName {
    width: 40%;
    height: 50%;
    overflow: hidden;
}


.channelHeader {
    width: 95%;
    height: 3vh;
    display: flex;
    text-indent: 5%;
}

.channelName {
    width: 65.5%;
    height: 100%;
    font-family: Inria Sans;
    font-size: 1em;
    color: #5A5454;
    margin-left: 10px;
    margin-left: 4%;
    overflow: hidden;
}

.channelName:hover {
    background-color: #d9d9d9;
    border-radius: 1em;
}

.deleteChannel {
    width: 30%;
    height: 100%;
    font-family: Inria Sans;
    font-weight: bold;
    font-size: 0.5em;
    color: #5A5454;
    margin-left: 20%;
}

.deleteChannel:hover {
    background-color: #d9d9d9;
    border-radius: 1em;
}

.createForumContainer {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    left: 25%;
    bottom: 25%;
    border: 2px solid black;
    border-radius: 1em;
}

.forumCreationInfomation {
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;
}

.forumDescCreationInfomation {
    margin-top: 3vh;
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    height: 30vh;
    margin-bottom: 5vh;
    padding-left: 1em;
    padding-right: 1em;
}

.createForumButton {
    background-color: #0072BB;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 1em;
    width: 50%;
    height: 100%;
    cursor: pointer;
    font-family: Inria Sans;
    transition: background-color 0.2s ease;
}

.createForumButton:hover {
    background-color: #004570;
}

.joinCommunityButton {
    width: 130px;
    height: 40px;
    border-radius: 1em;
    background-color: rgb(15, 68, 167);
    color: white;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 30%;
    position: absolute;
    left: 45%;
}

.editForumButton {
    margin-left: 2vw;
    border: none;
    color: #5A5454;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 1vw;
    height: 20px;
    width: 20px;
    border-radius: 1em;
    font-size: 0.8vw;
    position: absolute;
    top: 90%;
    left: 0%;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupBox {
    background-color: white;
    padding: 2rem;
    border-radius: 1em;
    width: 400px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}

.RulesText {
    font-size: 14px;
    margin-left: 10px;
}

.RulesTitle {
    margin-left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupText {
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: floralwhite 1px solid;
    border-radius: 0.5em;
    font-family: Inria Sans;
}

.closeBtn {
    background-color: #FF5C5C;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.saveBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
}

.closeBtn:hover {
    background-color: #FF3B3B;
}

.saveBtn:hover {
    background-color: #45a049;
}

.mediaPreview {
    max-width: 100%;
    min-height: 20vh;
    margin-top: 1rem;
    border-radius: 0.5em;
}

.mediaInPost {
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
    /* Centers horizontally */
    flex-shrink: 0;
}

.mediaBackground {
    width: 90%;
    /* Or whatever size you want */
    max-height: 500px;
    background-color: rgba(237, 237, 237, 1);
    flex-shrink: 0;
    display: flex;
    /* Ensure the child centers */
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

@font-face {
    font-family: Jura;
    src: url('../../../../public/fonts/Jura-Light.ttf');
}

@font-face {
    font-family: Inria Sans;
    src: url('../../../../public/fonts/InriaSans-Light.ttf');
}

.topBox {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    margin-bottom: 1vw;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    position: relative;
}

.sortText {
    font-size: 12px;
}

.activeChannel a {
    width: 150%;
    background-color: #D9D9D9;
    border-radius: 1em;
}


.postReportButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.editButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.deleteButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.postSearchBar {
    background-color: #D9D9D9;
    width: 60%;
    height: 4vh;
    border-radius: 1em;
    position: relative;
    bottom: 5%;
    left: 20%;
    color: #5A5454;
    text-indent: 5%;
    font-size: 14px;
}

.enterSearch {
    width: 10%;
    height: 4vh;
    border-radius: 1em;
    background-color: #F0F0F0;
    text-align: center;
    position: relative;
    left: 75%;
    bottom: 14.5%;
    font-size: 14px;
}

.enterSearch:hover {
    background-color: #ffffff;
}

.userLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    /* optional */
    color: inherit;
    /* optional */
}



.commName {
    width: 80%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}



.createGroupBtn {
    width: 20%;
    margin-left: 40%;
}

.chatLink {
    width: 20px;
    height: 20px;
    border: none;
    color: white;
    border-radius: 1em;
    cursor: pointer;
    font-family: Inria Sans;
    font-size: 0.8vw;
    position: absolute;
    top: 90%;
    left: 10%;
}



.utilButtons {
    display: flex;
    height: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /* distance from bottom edge */
}

/* Mobile View */
@media only screen and (max-width: 768px) {
    .background {
        background-color: #D0E0EB;
        display: grid;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        position: relative;
        overflow-y: hidden;
        grid-template-columns: 1vw 24vw 2vw 22vw 2vw 24vw 24vw 1vw;
        grid-template-rows: 3.5vh 15vh 80vh;
        grid-template-areas:
            "NavBar NavBar NavBar NavBar NavBar NavBar NavBar NavBar"
            "blank1 CommunitiesBar CommunitiesBar CommunitiesBar blank2 ServerBar ServerBar blank3"
            "blank1 RightBar RightBar Center Center Center Center blank3";
    }

    .serverIcon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: -1.5vw;
        margin-top: -4vw;
        margin-left: 1vw;
        margin-right: 1.5vw;
    }

    .joinCommunityButton {
        width: 50px;
        height: 40px;
        border-radius: 1em;
        background-color: rgb(15, 68, 167);
        font-size: 10px;
        top: 35%;
        left: 55%;
    }

    .createBox {
        position: fixed;
        top: 7rem;
        /* Keep it visible */
        left: 1%;
        /* Keep near the right edge */
        width: 15vw;
        z-index: 99999;
    }

    .primaryButton {
        padding: 5px 10px;
        border: 1px solid #0072BB;
        border-radius: 1.1em;
        background-color: #0072BB;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s ease;
        box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
        margin-top: 80vh;
        white-space: nowrap;
    }

    .yayScore {
        color: black;
        text-align: center;
        font-size: 20px;
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
    }

    .mediaInPost {
        overflow: hidden;
        max-width: 300px;
        margin: 0 auto;
        /* Centers horizontally */
        flex-shrink: 0;
    }

    .mediaBackground {
        width: 90%;
        /* Or whatever size you want */
        max-height: 500px;
        background-color: rgba(237, 237, 237, 1);
        flex-shrink: 0;
        display: flex;
        /* Ensure the child centers */
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }

}


.errorText {
    color: orangered;
    margin-bottom: 1rem;
    font-family: Inria Sans;
}