.main {
    padding: 0;
}

.container {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

}

.postCard {
    border: 1px solid #999;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    color: #5A5454;
    position: relative;
    transition: transform 0.15s ease;
}

.postCard:hover {
    transform: scale(1.02);
}

.darkline {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 1vw;
}

.replyCard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #5A5454;
    transition: transform 0.15s ease;
    width: 100%;
    white-space: nowrap;
    margin-left: 5%;
}

.replyCard p,
.postCard p {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.title {
    font-size: 25px;
    font-weight: 600;
    margin-left: 2vw;
}

.contents {
    font-size: 20px;
    font-weight: 400;
    margin-left: 2vw;
    color: #5A5454
}

.meta {
    font-size: 14px;
    font-weight: 100;
    color: #5A5454;
    margin-top: 0.2em;
    margin-left: 2vw;
    display: flex;
    width: 10%;
    height: 2.5vh;
}

.postBox {
    height: auto;
    width: 85%;
    font-family: Inria Sans;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    border-radius: 1em;
    background-color: #ffffff;
}

.userIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin-right: 2%;
    flex-shrink: 0;
}

.userTextAlignPosts {
    font-size: 12px;
    margin-left: 0.5vw;
}

.time {
    font-size: 12px;
    color: #5A5454;
    margin-top: 0.3em;
    margin-left: 2vw;
}

.actions {
    display: flex;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 1em;
    margin-left: 3%;
}

.voteButton {
    background-color: rgba(217, 217, 217, 1);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 1vw 0 0 1vw;
    width: 30px;
    height: 30px;
}


.dislikeButton {
    border-radius: 0 1vw 1vw 0;
}

.dislikeButton:hover {
    background-color: #5a6268;
}

.yayscore {
    width: 59%;
    height: 3.9vh;
    text-align: center;
    font-size: 20px;
}

.voteButton:hover {
    background-color: #5a6268;
}


.replyBorder {
    width: 100%;
    height: 5vh;
}

.replyButton {
    font-size: 14px;
    color: #5A5454;
    background-color: #EDEDED;
    padding: 5px 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 32px;
    margin-left: 2vw;
    width: 90%;
    transition: background-color 0.2s ease;
    border: 1px solid white;
    text-align: left;
    font-family: Inria Sans;
}

.submitButton {
    font-size: 14px;
    color: #5A5454;
    background-color: #F0F0F0;
    padding: 5px 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 90%;
    width: 70px;
    height: 40px;
    transition: background-color 0.2s ease;
    border: 1px solid white;
    text-align: center;
    font-family: Inria Sans;
}

.submitButton:hover {
    background-color: #D9D9D9;
}

.replyButton:hover {
    background-color: #D9D9D9;
}

.editButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.replyBox {
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 20vh;
    margin-left: 5%;
}

.replyInput {
    display: block;
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 5%;
}

.deleteButton {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.descInput {
    display: block;
    width: 90%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-left: 5%;
}

.editingButtons{
    display: flex;
    justify-content: space-evenly;
}

.saveButton{
    height: 30px;
    width: 80px;
    background-color: rgb(190, 190, 255);
    font-size: 20px;
    border-radius: 1em;
    color: white;
    font-family: Inria Sans;
}

.dontSaveButton{
    height: 30px;
    width: 80px;
    background-color: rgb(255, 175, 175);
    font-size: 20px;
    border-radius: 1em;
    color: white;
    font-family: Inria Sans;
}

@font-face {
    font-family: Jura;
    src: url('../../../../../public/fonts/Jura-Light.ttf');
}

@font-face {
    font-family: Inria Sans;
    src: url('../../../../../public/fonts/InriaSans-Light.ttf');
}

.background {
    background-color: #D0E0EB;
    display: grid;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    grid-template-columns: 1vw 15.67vw 3vw 60.7vw 3vw 15.67vw 1vw;
    grid-template-rows: 6vh 34vh 54vh;
    grid-template-areas:
        "NavBar NavBar NavBar NavBar NavBar NavBar NavBar"
        "margin1 CommunitiesBar margin3 Center margin4 RightBar margin2"
        "margin1 ServerBar margin3 Center margin4 RightBar margin2";
    row-gap: 3%;
}

.RightBar {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    font-size: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
    margin-right: 5px;
}

.notificationButton {
    height: 30px;
    width: 30px;
    border-radius: 1em;
    background-color: #394153;
    margin-left: 10px;
}

.settingsIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #B8B8B8;
}

.dropdownMenu {
    background-color: #5B6680;
    width: 150px;
    height: 150px;
    right: 0px;
    border-radius: 1em;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.dropdownMenu:hover {
    background-color: #828FAF;
}

.dropdown:focus-within .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
}

.yourCommunitiesBar {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-weight: bold;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0.5em;
    margin-top: 0.5em;
    border: 3px;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.serverBar {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    text-indent: 3%;
    font-family: Jura;
    font-weight: bold;
    font-size: 25px;
    color: #5A5454;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0.5em;
    margin-bottom: 0.7em;
    border: 3px;
    border-radius: 0.5em;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    z-index: 999;
}

.serverContainer {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    font-size: 15px;
    color: #5A5454;
}

.channelText {
    font-family: Inria Sans;
    font-size: 15px;
    color: #5A5454;
    margin-left: 10px;
}


.horizontalLine {
    background-color: #000000;
    width: 95%;
    height: 1px;
    margin-left: 8px;
}


.communitiesButtons {
    width: 90%;
    margin-left: 10px;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 1em;
}

.addIcon {
    /* background-color: rgb(168, 156, 156); */
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border-radius: 1em;
}

.buttonTextforCommunities {
    text-align: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: Inria Sans;
    color: #5A5454;
    position: relative;
    font-size: 0.8rem;
}

.communitiesButtons:hover {
    background-color: #D9D9D9;
}

.channelInfoBox {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Inria Sans;
    color: #5A5454;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 20vh;
}

.channelInfoh1 {
    margin-top: 10px;
    color: #5A5454;
    font-size: 25px;
}

.channelInfoh2 {
    margin-top: 10px;
    font-size: 15px;
    text-indent: 0%;
    margin-left: 3%;
}

.UserContainer {
    margin-left: 3%;
    display: flex;
    color: #5A5454;
    font-size: 17px;

}

.userTextAlign {
    margin-left: 3%;
    margin-top: 4%;
}

.RulesBar {
    width: 100%;
    /* height: 45vh; */
    height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.ModeratorsBox {
    width: 100%;
    /* height: 45vh; */
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.ModeratorsList {
    margin-left: 3%;
    color: gray;
    font-size: 17px;
}

.ModeratorAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    margin-right: 2%;
    flex-shrink: 0;
    object-fit: cover;
}

.ModeratorName {
    font-size: 20px;
    color: #5A5454;
}

.ModeratorContent {
    display: flex;
    align-items: center;
}

.ModeratorLink {
    text-decoration: none;
    color: inherit;
}

.ModeratorItem {
    display: flex;
    align-items: center;
    gap: 8px; /* space between avatar, name, role */
    margin-bottom: 10px; /* optional spacing between rows */
}

.usersBar {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    font-family: Jura;
    color: #5A5454;
    font-size: 25px;
    text-indent: 3%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navBox {
    background-color: rgb(11, 11, 44);
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: space-between;
}

.communnitiesPage {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 20px;
}

.buttonFormat {
    display: flex;
    height: 6vh;
    width: 100%;
}

.postsPage {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #5A5454;
    font-size: 2vw;
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    border: 3px #D0E0EB;
    border-radius: 0.5em;
}

.backDisplay {
    width: 40px;
    border-radius: 1em;
    height: 20px;
    text-align: center;
    margin-left: 0.2em;
    margin-top: 0.2em;
    background-color: #F0F0F0;
    border: 1px solid white;
    color: #5A5454;
    font-size: 14px;
    margin-bottom: 15px;
}

.backDisplay:hover {
    background-color: #D9D9D9;
}


.mediaContainer {
    margin-left: 2vw;
}

.groupName {
    width: 60%;
}

.groupHeader {
    display: flex;
}

.createForumContainer {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    left: 25%;
    bottom: 25%;
    border: 2px solid black;
    border-radius: 1em;
}

.forumCreationInfomation {
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    padding-left: 1em;
    padding-right: 1em;
}

.forumDescCreationInfomation {
    margin-top: 3vh;
    margin-left: 10%;
    background-color: #F0F0F0;
    border-radius: 1em;
    width: 80%;
    height: 30vh;
    margin-bottom: 5vh;
    padding-left: 1em;
    padding-right: 1em;
}

.createForumButton {
    width: 25%;
    margin-left: 35%;
    margin-top: 1vh;
    border-radius: 1em;
    background-color: #F0F0F0;
    color: #5A5454;
}

.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupBox {
    background-color: white;
    padding: 2rem;
    border-radius: 1em;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.popupText {
    color: #5A5454;
    margin-bottom: 1.5rem;
    font-family: Inria Sans;
}

.inputField {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: floralwhite 1px solid;
    border-radius: 0.5em;
    font-family: Inria Sans;
}

.cancelButton {
    background-color: #888;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
    margin-right: 1rem;
}

.cancelButton:hover {
    background-color: #666;
}

/* This is the delete button for popup cards, different to delete button for posts/replies */
.deleteButtonCard {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: Inria Sans;
    margin-left: 1rem;
}

.deleteButtonCard:hover {
    background-color: #c9302c;
}

.activeChannel a {
    width: 1000px;
    background-color: #7c7c7c;
}

.deleteGroup {
    margin-right: 3%;
    margin-left: 3%;
}

.deleteGroup:hover {
    color: red;
}

.editGroup:hover {
    color: orange;
}

.plusButton:hover {
    color: #00ccff;
}

.commName {
    width: 80%;
    height: 100%;
    overflow: hidden;
    font-size: 20px;
}

.createGroupBtn {
    width: 20%;
    margin-left: 40%;
}

.createForumButton {
    background-color: #0072BB;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 1em;
    width: 50%;
    height: 100%;
    cursor: pointer;
    font-family: Inria Sans;
    transition: background-color 0.2s ease;
    margin: auto;
}

.createForumButton:hover {
    background-color: #004570;
}

.mediaPreview {
    max-width: 100%;
    min-height: 20vh;
    margin-top: 1rem;
    border-radius: 0.5em;
    flex-shrink: 0;
}

.mediaInPost {
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;        /* Centers horizontally */
    flex-shrink: 0;
}

.mediaBackground {
    width: 90%;           /* Or whatever size you want */
    max-height: 500px;
    background-color: rgba(237, 237, 237, 1);
    flex-shrink: 0;
    display: flex;         /* Ensure the child centers */
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.utilButtons {
    display: flex;
    height: 20px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /* distance from bottom edge */
}

.editingCard{
    background-color: white;
    width: 100%;
    height: 350px;
    font-size: 20px;
    text-indent: 5%;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
    .background {
        background-color: #D0E0EB;
        display: grid;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        position: relative;
        overflow-y: hidden;
        grid-template-columns: 1vw 24vw 2vw 22vw 2vw 24vw 24vw 1vw;
        grid-template-rows: 3.5vh 15vh 80vh;
        grid-template-areas:
            "NavBar NavBar NavBar NavBar NavBar NavBar NavBar NavBar"
            "blank1 CommunitiesBar CommunitiesBar CommunitiesBar blank2 ServerBar ServerBar blank3"
            "blank1 RightBar blank Center Center Center Center blank3";
    }

    .submitButton {
        font-size: 14px;
        color: #5A5454;
        background-color: #F0F0F0;
        padding: 5px 10px;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        margin-left: 70%;
        width: 70px;
        height: 40px;
        transition: background-color 0.2s ease;
        border: 1px solid white;
        text-align: center;
        font-family: Inria Sans;
    }

    .mediaInPost {
        overflow: hidden;
        max-width: 300px;
        margin: 0 auto;
        /* Centers horizontally */
        flex-shrink: 0;
    }

    .mediaBackground {
        width: 90%;
        /* Or whatever size you want */
        max-height: 500px;
        background-color: rgba(237, 237, 237, 1);
        flex-shrink: 0;
        display: flex;
        /* Ensure the child centers */
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
}